In [1]:
import json
from sqlalchemy import func, select, text
from sqlalchemy.orm import selectinload
from db.session import get_session
import pprint
import importlib
from models.dish import Dish

from models.menu import Menu
from models.submenu import Submenu
from schemas.menu import MenuCascadeDTO

statement = text(
            '''
        SELECT json_agg(main_menu) AS result
        FROM (
            SELECT
                m.id AS id,
                m.title AS title,
                m.description AS description,
                COUNT(DISTINCT(sub.id)) AS submenus_count,
                COALESCE(SUM(sub.dishes_count) :: bigint, 0) AS dishes_count,
                json_agg(sub) AS submenus
            FROM menu m
            LEFT JOIN (
                SELECT
                    s.id AS id,
                    s.title AS title,
                    s.description AS description,
                    s.menu_id,
                    COUNT(d.id) AS dishes_count,
                    json_agg(d) AS dishes
                FROM submenu s
                LEFT JOIN (
                    SELECT
                        d.id AS id,
                        d.title AS title,
                        d.description AS description,
                        d.price * (1 + d.discount) AS price,
                        d.submenu_id
                    FROM dish d
                ) d ON s.id = d.submenu_id
                GROUP BY s.id, s.title, s.description, s.menu_id
            ) sub ON m.id = sub.menu_id
            GROUP BY m.id, m.title, m.description
        ) main_menu;
        '''
        )

async def test_cascade():
    async with await get_session() as session:
        query = select(Menu).options(selectinload(Menu.submenus).options(selectinload(Submenu.dishes)))
        result = [MenuCascadeDTO.model_validate(menu, from_attributes=True).model_dump() for menu in (await session.execute(query)).scalars().all()]
        pprint.pprint(result)
    
await test_cascade()

[{'description': 'sada',
  'dishes_count': 1,
  'id': UUID('134397ee-4f56-4be0-b9c1-2c30bc01bd22'),
  'submenus': [{'description': 'asdasd',
                'dishes': [{'description': 'adsavvasdv',
                            'id': UUID('ab4397ee-4f56-4be0-b9c1-2c30bc01bd22'),
                            'price': Decimal('12.50'),
                            'submenu_id': UUID('da4397ee-4f56-4be0-b9c1-2c30bc01bd22'),
                            'title': 'bdasdba'}],
                'dishes_count': 1,
                'id': UUID('da4397ee-4f56-4be0-b9c1-2c30bc01bd22'),
                'menu_id': UUID('134397ee-4f56-4be0-b9c1-2c30bc01bd22'),
                'title': 'adva'}],
  'submenus_count': 1,
  'title': 'asd'},
 {'description': 'da',
  'dishes_count': 0,
  'id': UUID('134397ee-4f56-4be0-b9c1-2c30bc01bd21'),
  'submenus': [],
  'submenus_count': 0,
  'title': '2das'}]

In [5]:
from background.tasks import update_menus
import nest_asyncio

nest_asyncio.apply()

update_menus()

2023-08-14 01:38:21,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:21,369 INFO sqlalchemy.engine.Engine UPDATE menu SET title=$1::VARCHAR, description=$2::VARCHAR WHERE menu.id = $3::UUID RETURNING menu.id, menu.title, menu.description
2023-08-14 01:38:21,371 INFO sqlalchemy.engine.Engine [cached since 187.1s ago] ('Меню', 'Основное меню', UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'))
2023-08-14 01:38:21,779 INFO sqlalchemy.engine.Engine SELECT count(distinct(submenu.id)) AS count_1, count(dish.id) AS count_2, menu.id
FROM menu LEFT OUTER JOIN submenu ON menu.id = submenu.menu_id LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE menu.id = $1::UUID GROUP BY menu.id
2023-08-14 01:38:21,781 INFO sqlalchemy.engine.Engine [cached since 187.2s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'),)
2023-08-14 01:38:21,981 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:22,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:22,088 INFO sqlalchemy.engine.Engine UPDATE submenu SET title=$1::VARCHAR, description=$2::VARCHAR, menu_id=$3::UUID WHERE submenu.menu_id = $4::UUID AND submenu.id = $5::UUID RETURNING submenu.id, submenu.title, submenu.description, submenu.menu_id
2023-08-14 01:38:22,089 INFO sqlalchemy.engine.Engine [cached since 187.2s ago] ('Холодные закуски', 'К пиву', UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'))
2023-08-14 01:38:22,393 INFO sqlalchemy.engine.Engine SELECT count(dish.id) AS count_1, submenu.id
FROM submenu LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE submenu.id = $1::UUID GROUP BY submenu.id
2023-08-14 01:38:22,396 INFO sqlalchemy.engine.Engine [cached since 187.2s ago] (UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'),)
2023-08-14 01:38:22,597 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:22,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:22,702 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:22,703 INFO sqlalchemy.engine.Engine [cached since 211.8s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'))
2023-08-14 01:38:23,315 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:23,316 INFO sqlalchemy.engine.Engine [cached since 187.6s ago] ('Сельдь Бисмарк', 'Традиционное немецкое блюдо из маринованной сельди', Decimal('182.990000000000009094947017729282379150390625'), Decimal('0.05000000000000000277555756156289135105907917022705078125'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'), UUID('8f1b61a6-13d2-4e00-a417-a8b9196ebf71'), 1)
2023-08-14 01:38:23,622 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:23,723 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:23,726 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:23,728 INFO sqlalchemy.engine.Engine [cached since 212.8s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'))
2023-08-14 01:38:23,930 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:23,932 INFO sqlalchemy.engine.Engine [cached since 188.2s ago] ('Мясная тарелка', 'Нарезка из ветчины, колбасных колечек, нескольких сортов сыра и фруктов', Decimal('215.3600000000000136424205265939235687255859375'), Decimal('0.770000000000000017763568394002504646778106689453125'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'), UUID('56e7c52b-943e-47c1-b319-c6c8768e9324'), 1)
2023-08-14 01:38:24,030 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:24,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:24,135 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:24,136 INFO sqlalchemy.engine.Engine [cached since 213.2s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'))
2023-08-14 01:38:24,339 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:24,341 INFO sqlalchemy.engine.Engine [cached since 188.6s ago] ('Рыбная тарелка', 'Нарезка из креветок, кальмаров, раковых шеек, гребешков, лосося, скумбрии и красной икры', Decimal('265.56999999999999317878973670303821563720703125'), Decimal('0.0200000000000000004163336342344337026588618755340576171875'), UUID('063fec92-dc02-41f0-85e6-c4e474d28ba9'), UUID('d1232f1d-113f-495a-b2e6-d0421fb74346'), 1)
2023-08-14 01:38:24,441 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:24,543 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:24,545 INFO sqlalchemy.engine.Engine UPDATE submenu SET title=$1::VARCHAR, description=$2::VARCHAR, menu_id=$3::UUID WHERE submenu.menu_id = $4::UUID AND submenu.id = $5::UUID RETURNING submenu.id, submenu.title, submenu.description, submenu.menu_id
2023-08-14 01:38:24,546 INFO sqlalchemy.engine.Engine [cached since 189.6s ago] ('Рамен', 'Горячий рамен', UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'))
2023-08-14 01:38:24,748 INFO sqlalchemy.engine.Engine SELECT count(dish.id) AS count_1, submenu.id
FROM submenu LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE submenu.id = $1::UUID GROUP BY submenu.id
2023-08-14 01:38:24,750 INFO sqlalchemy.engine.Engine [cached since 189.5s ago] (UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'),)
2023-08-14 01:38:24,849 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:24,952 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:24,954 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:24,956 INFO sqlalchemy.engine.Engine [cached since 214s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'))
2023-08-14 01:38:25,160 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:25,162 INFO sqlalchemy.engine.Engine [cached since 189.4s ago] ('Дайзу рамен', 'Рамен на курином бульоне с куриными подушками и яйцом аджитама, яично-пшеничной лапшой, ростки зелени, грибами муэр и зеленым луком', Decimal('166.469999999999998863131622783839702606201171875'), Decimal('0'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'), UUID('3f2a4679-1725-41e1-b4cc-09330e8fc286'), 1)
2023-08-14 01:38:25,259 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:25,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:25,365 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:25,367 INFO sqlalchemy.engine.Engine [cached since 214.4s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'))
2023-08-14 01:38:25,567 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:25,569 INFO sqlalchemy.engine.Engine [cached since 189.8s ago] ('Унаги рамен', 'Рамен на нежном сливочном рыбном бульоне, с добавлением маринованного угря, грибов муэр, кунжута, зеленого лука', Decimal('168.25'), Decimal('0'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'), UUID('be03160f-acda-4e8a-835e-50fa7b63f58c'), 1)
2023-08-14 01:38:25,669 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:25,771 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:25,775 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:25,776 INFO sqlalchemy.engine.Engine [cached since 214.8s ago] (UUID('2fe28da6-3d07-4797-b5c3-0c71ba018b5b'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'))
2023-08-14 01:38:25,977 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:25,979 INFO sqlalchemy.engine.Engine [cached since 190.3s ago] ('Чиизу Рамен', 'Рамен на насыщенном сырном бульоне на основе кокосового молока, с добавлением куриной грудинки, яично - пшеничной лапши, мисо-матадоре, ростков зелени, листьев вакамэ', Decimal('132.8799999999999954525264911353588104248046875'), Decimal('1.1999999999999999555910790149937383830547332763671875'), UUID('b7594e7c-9845-473d-93b1-c7ea9aa653f6'), UUID('2edd110f-9ca7-482b-946e-51b586982df0'), 1)
2023-08-14 01:38:26,079 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:26,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:26,184 INFO sqlalchemy.engine.Engine UPDATE menu SET title=$1::VARCHAR, description=$2::VARCHAR WHERE menu.id = $3::UUID RETURNING menu.id, menu.title, menu.description
2023-08-14 01:38:26,186 INFO sqlalchemy.engine.Engine [cached since 191.9s ago] ('Алкогольное меню', 'Алкогольные напитки', UUID('6f7a1b77-eeec-477c-9768-3766796256d7'))
2023-08-14 01:38:26,386 INFO sqlalchemy.engine.Engine SELECT count(distinct(submenu.id)) AS count_1, count(dish.id) AS count_2, menu.id
FROM menu LEFT OUTER JOIN submenu ON menu.id = submenu.menu_id LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE menu.id = $1::UUID GROUP BY menu.id
2023-08-14 01:38:26,388 INFO sqlalchemy.engine.Engine [cached since 191.8s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'),)
2023-08-14 01:38:26,487 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:26,591 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:26,593 INFO sqlalchemy.engine.Engine UPDATE submenu SET title=$1::VARCHAR, description=$2::VARCHAR, menu_id=$3::UUID WHERE submenu.menu_id = $4::UUID AND submenu.id = $5::UUID RETURNING submenu.id, submenu.title, submenu.description, submenu.menu_id
2023-08-14 01:38:26,595 INFO sqlalchemy.engine.Engine [cached since 191.7s ago] ('Красные вина', 'Для романтичного вечера', UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'))
2023-08-14 01:38:26,796 INFO sqlalchemy.engine.Engine SELECT count(dish.id) AS count_1, submenu.id
FROM submenu LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE submenu.id = $1::UUID GROUP BY submenu.id
2023-08-14 01:38:26,798 INFO sqlalchemy.engine.Engine [cached since 191.6s ago] (UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'),)
2023-08-14 01:38:26,897 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:27,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:27,002 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:27,004 INFO sqlalchemy.engine.Engine [cached since 216.1s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'))
2023-08-14 01:38:27,209 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:27,210 INFO sqlalchemy.engine.Engine [cached since 191.5s ago] ('Шемен де Пап ля Ноблесс', 'Вино красное — фруктовое, среднетелое, выдержанное в дубе', Decimal('2700.7899999999999636202119290828704833984375'), Decimal('0.040000000000000000832667268468867405317723751068115234375'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'), UUID('abdf5b98-da8e-4458-a665-28c166a98214'), 1)
2023-08-14 01:38:27,309 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:27,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:27,411 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:27,412 INFO sqlalchemy.engine.Engine [cached since 216.5s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'))
2023-08-14 01:38:27,615 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:27,617 INFO sqlalchemy.engine.Engine [cached since 191.9s ago] ('Рипароссо Монтепульчано', 'Вино красное, сухое', Decimal('3100.329999999999927240423858165740966796875'), Decimal('0.25'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'), UUID('c0f92fdc-3954-4b7d-9487-54ccde803da8'), 1)
2023-08-14 01:38:27,717 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:27,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:27,822 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:27,824 INFO sqlalchemy.engine.Engine [cached since 216.9s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'))
2023-08-14 01:38:28,025 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:28,030 INFO sqlalchemy.engine.Engine [cached since 192.3s ago] ('Кьянти, Серристори', 'Вино красное — элегантное, комплексное, не выдержанное в дубе', Decimal('1850.420000000000072759576141834259033203125'), Decimal('0.1499999999999999944488848768742172978818416595458984375'), UUID('12e6c21c-c418-4bf1-b7bc-24893195d627'), UUID('2601a2c1-0a63-4522-94db-93e905e44059'), 1)
2023-08-14 01:38:28,128 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:28,229 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:28,231 INFO sqlalchemy.engine.Engine UPDATE submenu SET title=$1::VARCHAR, description=$2::VARCHAR, menu_id=$3::UUID WHERE submenu.menu_id = $4::UUID AND submenu.id = $5::UUID RETURNING submenu.id, submenu.title, submenu.description, submenu.menu_id
2023-08-14 01:38:28,233 INFO sqlalchemy.engine.Engine [cached since 193.3s ago] ('Виски', 'Для интересных бесед', UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'))
2023-08-14 01:38:28,434 INFO sqlalchemy.engine.Engine SELECT count(dish.id) AS count_1, submenu.id
FROM submenu LEFT OUTER JOIN dish ON submenu.id = dish.submenu_id
WHERE submenu.id = $1::UUID GROUP BY submenu.id
2023-08-14 01:38:28,435 INFO sqlalchemy.engine.Engine [cached since 193.2s ago] (UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'),)
2023-08-14 01:38:28,535 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:28,638 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:28,641 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:28,642 INFO sqlalchemy.engine.Engine [cached since 217.7s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'))
2023-08-14 01:38:28,843 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:28,845 INFO sqlalchemy.engine.Engine [cached since 193.1s ago] ('Джемисон', 'Классический купажированный виски, проходящий 4-хлетнюю выдержку в дубовых бочках', Decimal('420.779999999999972715158946812152862548828125'), Decimal('0'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'), UUID('b9529374-e8b6-4b62-a0e9-727e3085744e'), 1)
2023-08-14 01:38:28,945 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:29,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:29,050 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:29,052 INFO sqlalchemy.engine.Engine [cached since 218.1s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'))
2023-08-14 01:38:29,255 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1
2023-08-14 01:38:29,257 INFO sqlalchemy.engine.Engine [cached since 193.5s ago] ('Джек Дэниелс', 'Характерен мягкий вкус, сочетает в себе карамельно-ванильные и древесные нотки. Легкий привкус дыма.', Decimal('440.1100000000000136424205265939235687255859375'), Decimal('0'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'), UUID('7a02ec1f-4b26-4143-8712-278fcc81a800'), 1)
2023-08-14 01:38:29,356 INFO sqlalchemy.engine.Engine COMMIT
2023-08-14 01:38:29,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-14 01:38:29,459 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM submenu
WHERE submenu.menu_id = $1::UUID AND submenu.id = $2::UUID) AS anon_1
2023-08-14 01:38:29,461 INFO sqlalchemy.engine.Engine [cached since 218.5s ago] (UUID('6f7a1b77-eeec-477c-9768-3766796256d7'), UUID('264b74f9-bd71-49e6-8e6d-62ba6fdbd238'))
2023-08-14 01:38:29,663 INFO sqlalchemy.engine.Engine UPDATE dish SET title=$1::VARCHAR, description=$2::VARCHAR, price=$3::NUMERIC(6, 2), discount=$4::NUMERIC(6, 2) WHERE dish.submenu_id = $5::UUID AND dish.id = $6::UUID RETURNING dish.id, dish.title, dish.description, dish.price, dish.discount, dish.submenu_id, dish.price * ($7::INTEGER + dish.discount) AS anon_1